<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
    <div class="container">
      <h1>Edit Task</h1>
        <form action="/tasks/edit/<%= task._id%>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title" > <b>Title</b></label>
                <input type="text" class="form-control" name="title" value="<%= task.name%>"  required>
            </div>
            
            <div>
                <a href="/tasks" class="btn btn-warning"><b>Cancel</b></a>
                <button  type="submit" class="btn btn-primary"><b>Save</b></button>
            </div>

        </form>
        
      </div>
  
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>