<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
      <div class="row">
          <div class="col-sm-4"><h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tasks</h1></div>
          <div class="col-sm-8"><a href="/tasks/add", class="btn btn-success float-right">Add a New Task</a></div>          
      </div>
      <% if (tasks.length>0) { %>
        <% tasks.forEach(function(task) { %>
          <div class="content">
            <div class="card">
              <div class="container1">
                <h1 ><%= task.name%></h1>
                <p class="title"><%= task.date%></p>
                <h5><%= task.status%></h5>
              </div>
              <div class="actions">
                <a id="deletebtn" href="/tasks/delete/<%= task._id%>", class="btn btn-danger"><b>Delete</b></a>               
                <a id="deletebtn" href="/tasks/edit/<%= task._id%>", class="btn btn-warning"><b>Edit</b></a>  
              </div>                                  
            </div>           
          </div>          
        <% }); %>            
      <%} else { %>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No Task Found...</p>
      <% } %>          
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>